body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #222;
  color: #fff;
  padding: 30px;
  text-align: center;
}

nav {
  background-color: #444;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
}

nav ul li a:hover {
  background-color: #666;
}

section {
  padding: 20px;
}

footer {
  text-align: center;
  background-color: #222;
color: #fff;
  padding: 10px;
  margin-top: 20px;
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.social-links a {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s;
}

.social-links a:hover {
  background-color: #555;
}